AppSaludMVC/Service References/HceService/SoaService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ConsultaReporteOA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Unidad" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IdPaciente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CodigoOA" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaReporteOAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultaReporteOAResult" type="tns:ArrayOfFormulario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfFormulario">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Formulario" nillable="true" type="tns:Formulario" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Formulario">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Tabla" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Accion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Version" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoFormulario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Ruta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Titulo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EpisodioClinico" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EpisodioAtencion" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="InterOperabilidadConsultaExterna">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UnidadReplicacion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IdEpisodioAtencion" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="IdPaciente" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="EpisodioClinico" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InterOperabilidadConsultaExternaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InterOperabilidadConsultaExternaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InterOperabilidadSalida">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UnidadReplicacion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IdEpisodioAtencion" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="IdPaciente" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="EpisodioClinico" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InterOperabilidadSalidaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InterOperabilidadSalidaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SoaValidaFacturacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="SS_HC_WS_EpisodioAtencion" type="tns:SS_HC_WS_EpisodioAtencion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SS_HC_WS_EpisodioAtencion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="_UnidadReplicacion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="_IdEpisodioAtencion" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="_IdPaciente" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="_EpisodioClinico" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="_IdOrdenAtencion" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="_Linea" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="_SecuenciaHCE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_Accion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_Version" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="_Estado" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="_UsuarioCreacion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="_FechaCreacion" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="_UsuarioModificacion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="_FechaModificacion" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="IdEpisodioAtencion" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IdPaciente" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="EpisodioClinico" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IdOrdenAtencion" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Linea" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Estado" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UnidadReplicacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SecuenciaHCE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Accion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Version" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UsuarioCreacion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaCreacion" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="UsuarioModificacion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaModificacion" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="SoaValidaFacturacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SoaValidaFacturacionResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SoaHistoria">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="SS_HC_WS_EpisodioAtencion" type="tns:SS_HC_WS_EpisodioAtencion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SoaHistoriaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SoaHistoriaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConsultaReporteOASoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaReporteOA" />
  </wsdl:message>
  <wsdl:message name="ConsultaReporteOASoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaReporteOAResponse" />
  </wsdl:message>
  <wsdl:message name="InterOperabilidadConsultaExternaSoapIn">
    <wsdl:part name="parameters" element="tns:InterOperabilidadConsultaExterna" />
  </wsdl:message>
  <wsdl:message name="InterOperabilidadConsultaExternaSoapOut">
    <wsdl:part name="parameters" element="tns:InterOperabilidadConsultaExternaResponse" />
  </wsdl:message>
  <wsdl:message name="InterOperabilidadSalidaSoapIn">
    <wsdl:part name="parameters" element="tns:InterOperabilidadSalida" />
  </wsdl:message>
  <wsdl:message name="InterOperabilidadSalidaSoapOut">
    <wsdl:part name="parameters" element="tns:InterOperabilidadSalidaResponse" />
  </wsdl:message>
  <wsdl:message name="SoaValidaFacturacionSoapIn">
    <wsdl:part name="parameters" element="tns:SoaValidaFacturacion" />
  </wsdl:message>
  <wsdl:message name="SoaValidaFacturacionSoapOut">
    <wsdl:part name="parameters" element="tns:SoaValidaFacturacionResponse" />
  </wsdl:message>
  <wsdl:message name="SoaHistoriaSoapIn">
    <wsdl:part name="parameters" element="tns:SoaHistoria" />
  </wsdl:message>
  <wsdl:message name="SoaHistoriaSoapOut">
    <wsdl:part name="parameters" element="tns:SoaHistoriaResponse" />
  </wsdl:message>
  <wsdl:portType name="SoaServiceSoap">
    <wsdl:operation name="ConsultaReporteOA">
      <wsdl:input message="tns:ConsultaReporteOASoapIn" />
      <wsdl:output message="tns:ConsultaReporteOASoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InterOperabilidadConsultaExterna">
      <wsdl:input message="tns:InterOperabilidadConsultaExternaSoapIn" />
      <wsdl:output message="tns:InterOperabilidadConsultaExternaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InterOperabilidadSalida">
      <wsdl:input message="tns:InterOperabilidadSalidaSoapIn" />
      <wsdl:output message="tns:InterOperabilidadSalidaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SoaValidaFacturacion">
      <wsdl:input message="tns:SoaValidaFacturacionSoapIn" />
      <wsdl:output message="tns:SoaValidaFacturacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SoaHistoria">
      <wsdl:input message="tns:SoaHistoriaSoapIn" />
      <wsdl:output message="tns:SoaHistoriaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SoaServiceSoap" type="tns:SoaServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultaReporteOA">
      <soap:operation soapAction="http://tempuri.org/ConsultaReporteOA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InterOperabilidadConsultaExterna">
      <soap:operation soapAction="http://tempuri.org/InterOperabilidadConsultaExterna" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InterOperabilidadSalida">
      <soap:operation soapAction="http://tempuri.org/InterOperabilidadSalida" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SoaValidaFacturacion">
      <soap:operation soapAction="http://tempuri.org/SoaValidaFacturacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SoaHistoria">
      <soap:operation soapAction="http://tempuri.org/SoaHistoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SoaServiceSoap12" type="tns:SoaServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultaReporteOA">
      <soap12:operation soapAction="http://tempuri.org/ConsultaReporteOA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InterOperabilidadConsultaExterna">
      <soap12:operation soapAction="http://tempuri.org/InterOperabilidadConsultaExterna" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InterOperabilidadSalida">
      <soap12:operation soapAction="http://tempuri.org/InterOperabilidadSalida" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SoaValidaFacturacion">
      <soap12:operation soapAction="http://tempuri.org/SoaValidaFacturacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SoaHistoria">
      <soap12:operation soapAction="http://tempuri.org/SoaHistoria" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SoaService">
    <wsdl:port name="SoaServiceSoap" binding="tns:SoaServiceSoap">
      <soap:address location="http://localhost:25129/SoaService.asmx" />
    </wsdl:port>
    <wsdl:port name="SoaServiceSoap12" binding="tns:SoaServiceSoap12">
      <soap12:address location="http://localhost:25129/SoaService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>